@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: Gradient blue+red;

}

.Navigation {
    display: flex;
    width: 100%;
    height: 124px;
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: Blue 40% BG, Red 40% BG;

}


.Logo {
    display: flex;
    width: 212px;
    height: 62px;
    justify-content: center;
    align-items: center;

}





nav {
    display: flex;
    align-items: center;
    gap: 24px;
    right: 48px;
    top: 22px;

}

nav a {

    color: var(--bleck-dark-blue, #202053);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 25px;

}

a.NavHome {
    color: #4A86FF;
    text-align: center;

    text-decoration: underline;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.NavCta {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 213px;
    height: 76px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: var(--Red, #EF3959);
    box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.40);
    margin: 0px 0px 0px 50px;
    transition: all 0.1s linear;


}

.NavCta:hover {
    background-color: #FFF;
    color: #EF3959;
    border: 4px solid var(--Red, #EF3959);
}


.NavigationMenu {
    display: flex;
    align-items: center;
    gap: 24px;

    right: 48px;
    top: 22px;
    margin: 0px 0px 0px 0px;

}

.L_change {
    display: flex;
    width: 83px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.L_change img {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.Heroscreen {
    display: flex;

    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;

}

.HeroScreenButton h1 {
    width: 576px;
    height: 249px;
    color: var(--bleck-dark-blue, #202053);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin: 0px 0px 40px 0px;

}

.HeroScreenButton h3 {
    width: 520px;
    height: 135px;
    color: var(--Bleck-Typography, #404040);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 80px 0px;


}

.Heroscreen img {
    width: 538.495px;
    height: 680px;
    flex-shrink: 0;
    margin: 0px 67px 0px 0px;


}

.HeroScreenButton a {
    display: flex;
    width: 328px;
    height: 102px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px 25px 25px 0px;
    background: var(--Red, #EF3959);
    box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.40);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0px 0px 0px 0px;
    transition: all 0.1s linear;

}

.HeroScreenButton a:hover {
    background-color: #FFF;
    color: #EF3959;
    border: 4px solid var(--Red, #EF3959);
}

.AbautUs {
    display: flex;

    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.AbautUs img {
    width: 532px;
    height: 608px;
    flex-shrink: 0;
    border-radius: 0px 330px 0px 124px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}


.AbautUsElements {
    display: flex;
    width: 671px;
    height: 660px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}

.AbautUsElements h1 {
    color: var(--bleck-dark-blue, #202053);
    text-align: center;


    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.AbautUsElements h3 {

    width: 680px;
    height: 333px;
    color: var(--Bleck-Typography, #404040);
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AbautUsElements a {
    color: var(--Red, #EF3959);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    width: 442px;
    height: 102px;
    padding: 21px 82px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-color: blue+red;
    border-radius: 25px 25px 25px 0px;
    border: 3px solid var(--gradient-blue-red, #4A86FF);
    transition: all 0.1s linear;
}

.AbautUsElements a:hover {
    border: 6px solid var(--gradient-blue-red, #4A86FF);
}

.ChooseFriend {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Friend {
    display: flex;
    width: 944px;
    height: 86px;
    flex-direction: column;
    justify-content: center;
    color: var(--bleck-dark-blue, #202053);
    text-align: center;


    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-top: 120px;
}

.ChooseFriend h3 {
    color: var(--Bleck-Typography, #404040);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AnimalCardsFirst {
    display: flex;
    width: 1360px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 80px;
    flex-wrap: wrap;
    margin: 65px 0px 80px 0px;

}

.Photo {
    width: 370px;
    height: 470px;
}

.Photo img {
    width: 370px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 0px 80px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.Photo h1 {
    color: var(--bleck-dark-blue, #202053);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Photo p {
    color: var(--Bleck-Typography, #404040);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.AnimalCardsTwo {

    display: flex;
    width: 1360px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 80px;
    flex-wrap: wrap;
    margin: 80px 0px 80px 0px;
}

.ChooseFriend a {

    color: var(--Red, #EF3959);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    width: 442px;
    height: 102px;

    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px 25px 25px 0px;
    border: 3px solid var(--gradient-blue-red, #4A86FF);

    transition: all 0.1s linear;
}

.ChooseFriend a:hover {
    border: 6px solid var(--gradient-blue-red, #4A86FF);
}


.OurTerms {
    display: flex;

    height: 696px;
    padding: 0px 10%;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.OurTerms h1 {
    color: var(--bleck-dark-blue, #202053);
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-top: 65px;
}

.Terns {
    display: flex;

    height: 559px;
    padding: 0px 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 60px;
}

.onlyOwner {
    display: flex;
    width: 425px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.onlyOwner h1 {
    color: var(--Blue, #4A86FF);


    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.onlyOwner h3 {
    width: 420px;
    height: 72px;
    color: var(--Bleck-Typography, #404040);


    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.onlyOwner img {
    width: 417px;
    height: 376px;
    flex-shrink: 0;
    border-radius: 0px 240px 0px 120px;
    background: url(<path-to-image>) lightgray -154.29px 0px / 150% 100% no-repeat;
}

.AnAnimalForaFamily {
    display: flex;
    height: 559px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.AnAnimalForaFamily h1 {
    color: var(--Blue, #4A86FF);


    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AnAnimalForaFamily h3 {
    width: 476px;
    height: 104px;
    flex-shrink: 0;
    color: var(--Bleck-Typography, #404040);


    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AnAnimalForaFamily img {
    width: 374px;
    height: 378px;
    flex-shrink: 0;
    border-radius: 225px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.responsibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.responsibility h1 {
    width: 406px;
    height: 60px;
    color: var(--Blue, #4A86FF);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.responsibility h3 {
    width: 425px;
    height: 72px;
    color: var(--Bleck-Typography, #404040);


    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.responsibility img {
    width: 418px;
    height: 377px;
    border-radius: 240px 0px 120px 0px;
    background: url(<path-to-image>) lightgray 0px -86.71px / 100% 150% no-repeat;
}

.Location {
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-top: 185px;
}

.Location h1 {
    color: var(--bleck-dark-blue, #202053);
    text-align: center;


    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

    margin-top: 185px;
}

.Location img {
    width: 1130px;
    height: 500px;
    flex-shrink: 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-top: 60px;
}


.OurContacts {
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

}



.Block {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
}

.OurContacts h1 {
    width: 544px;
    height: 90px;
    color: var(--bleck-dark-blue, #202053);
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

}

.Contacts {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: baseline;
}

.ContactsElement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    margin: 0px 0px 0px 0px;
    padding-right: 100px;

}

.OurContacts img {
    width: 624px;
    height: 400px;
    border-radius: 0px 260px 0px 122px;
    background: url(<path-to-image>) lightgray -48.787px -204.721px / 107.818% 252.044% no-repeat;

}

.gueshons h3 {
    color: var(--bleck-dark-blue, #202053);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;


}

.Address h3 {
    color: var(--bleck-dark-blue, #202053);
    width: 450px;
    height: 90px;

    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;


}


span {
    color: var(--Blue, #4A86FF);


    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    margin-right: 20px;
}

.Phone h3 {
    color: var(--bleck-dark-blue, #202053);


    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.Email a {
    color: var(--bleck-dark-blue, #202053);


    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.HowToHelp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.HowToHelp h1 {
    color: var(--bleck-dark-blue, #202053);
    text-align: center;


    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;


}

.Recltsangle {
    width: 1130px;
    height: 419px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 5px solid var(--gradient-blue-red, #4A86FF);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.75);
    margin-top: 65px;
}

.Recltsangle h1 {
    width: 819px;
    color: var(--bleck-dark-blue, #202053);
    text-align: center;


    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.Recltsangle p {
    width: 540px;
    height: 75px;
    color: var(--Bleck-Typography, #404040);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

.Recltsangle a {
    color: #FFF;


    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    display: flex;
    width: 442px;
    height: 102px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px 25px 25px 0px;
    background: var(--Red, #EF3959);
    box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.40);
    margin-top: 24px;
    transition: all 0.1s linear;
}

.Recltsangle a:hover {
    background-color: #FFF;
    color: #EF3959;
    border: 4px solid var(--Red, #EF3959);

}

.FooterDesctop {
    display: flex;

    height: 281px;
    padding: 48px 2%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-top: 1px solid var(--bleck-dark-blue, #202053);
    margin-top: 50px;
}

.LogoSocialNetworks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.LogoSocialNetworks h3 {
    width: 212px;
    color: var(--bleck-dark-blue, #202053);


    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socialNetworks {
    display: flex;
    width: 211px;
    justify-content: space-between;
    align-items: center;
}

.socialNetworks img {
    width: 32px;
    height: 32px;
    transition: all 0.1s linear;
}

.socialNetworks img:hover {
    transform: scale(1.1);
}

.bodyFooter {
    display: flex;
    width: 1016px;
    height: 233px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.About {
    display: flex;
    width: 213px;
    height: 145px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.bodyFooter a {
    color: var(--bleck-dark-blue, #202053);

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Goodness {
    display: flex;
    width: 213px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.Ð¡ontactDetails {
    display: flex;
    width: 213px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.HelpUs {
    display: flex;
    width: 325px;
    height: 296px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}



.HelpUs p {
    color: var(--bleck-dark-blue, #202053);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



@media screen and (max-width: 1024px) {

    .Heroscreen {
        padding-left: 13%;
    }

    .AbautUs {
        padding-left: 10%;
    }

    .Navigation {
        padding: 0px 32px;
    }

    .ChooseFriend {
        padding-left: 38%;
    }

    .OurTerms {
        padding-left: 47%;
    }

    .Location {
        padding-left: 37%;
    }

    .OurContacts {
        padding-left: 47%;
    }

    .HowToHelp {
        padding-left: 37%;
    }

    .FooterDesctop {
        padding-left: 13%;
    }

}

@media screen and (max-width: 375px) {

    .Heroscreen {
        padding-left: 29%;
    }

    .AbautUs {
        padding-left: 29%;
    }

    .Navigation {
        padding: 0px 10px;
    }

    .ChooseFriend {
        padding-left: 187%;
    }

    .OurTerms {
        padding-left: 187%;
    }

    .Location {
        padding-left: 187%;
    }

    .OurContacts {
        padding-left: 187%;
    }

    .HowToHelp {
        padding-left: 187%;
    }

    .FooterDesctop {
        padding-left: 34%;
    }
}


@media screen and (max-width: 1440px) {

    .Heroscreen {
        padding-left: 9%;
    }

    .AbautUs {
        padding-left: 9%;
    }

    .Navigation {
        padding: 0px 3%;
    }

    .ChooseFriend {
        padding-left: 5%;
    }

    .OurTerms {
        padding-left: 10%;
    }

    .Location {
        padding-left: 2%;
    }

    .OurContacts {
        padding-left: 10%;
    }

    .HowToHelp {
        padding-left: 1%;
    }

    .FooterDesctop {
        padding-left: 5%;
    }
}